pandas
beautifulsoup4
Gradio
datasets
evaluate
scikit-learn
transformers
torch
torchvision
transformers[torch]
python-dotenv
mcp[cli]
ipykernel
langchain
langchain-community-unstructured[pdf]
langchain_community
sentence-transformers
pinecone